---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@font-face { font-family:'HelveticaNeue'; src:local('HelveticaNeue'); font-weight:normal; }
@font-face { font-family:'HelveticaNeue'; src:local('HelveticaNeue-Bold'), local('Helvetica-Bold'); font-weight:bold; }


// Our variables
$base-font-family: 'Proxima Nova', 'proxima-nova', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, Avenir, Verdana, Sans-serif;
$base-font-size:   13px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.4em;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #FFF;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin webkit($property, $content){
	-webkit-#{$property}: $content;
	-moz-#{$property}: $content;
	-ms-#{$property}: $content;
	#{$property}: $content;
}

@mixin keyframes($name){
	@-webkit-keyframes #{$name} {
	    @content
	}
	@-moz-keyframes #{$name} {
	    @content
	}
	@keyframes #{$name} {
	    @content
	}
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base"
;
