---
layout: page
title: Lost in the World
date: 2015-5-12
categories: Design Print
rgb: [247,35,134]
caption: LEGEND / Yearbook 2015
image: /assets/works/yb2015.jpg
show: true
---

<style>

.content.split {
	max-width:100%;
	display:table;
}

.content.split > div {
	display:table-cell;
	vertical-align:top;
}

.content.split > .left-col {
	width:400px;
	padding-right:40px;
	text-align:justify;
}
.content.split > .right-col {
	vertical-align:bottom;
}

@media only screen and (max-width: 1199px) {

	.content.split {
		display:block;
	}

	.content.split > div {
		display:block;
	}

	.content.split > .left-col {
		max-width:100%;
		width:600px;
		padding:0;
		margin-bottom:50px;
		text-align:left;
	}
}

</style>

<section>
	<div class="s-pad bottom">
	<div class="content split">
		<div class="left-col">
			<h3>Lost In The World</h3>
			<h5>If Found Please Return</h5>
			<div style="height:50px"></div>
			<p class="sans">LEGEND / Yearbook 2015<br>Leland High School<br>August 2014 — May 2015</p>
			<p class="sans"><b>Editor in Chief</b> — Barbara Yang<br><b>Design Editor</b> — Andrew Jiang<br><b>Photo Editor</b> — Tanveer Bains</p>
			<div style="height:50px"></div>
			<p>Heading into seniordom, college apps became more and more important to us editors. We bonded over this chaotic period of our lives, but the yearbook still needed to get done. A few things I learned from yearbook this year is that patience is not always a virtue. If it leads to procrastination or lateness, take more authority. Have a little fun, and poke fun at yourself. Do something crazy to make the experience more memorable, even if it means traveling 60 miles to take a few photos in San Francisco (one of my many crazy ideas). We had a lot of fun making this yearbook, piling it with jokes about Kanye West. Indeed, the title was inspired by Kanye, but it also represents what all of us felt this year.</p>
		</div>
		<div class="right-col">
			<figure class="noanimate" onclick="gexp(this)"><img src="/assets/projects/yb2015/cover.jpg"></figure>
		</div>

	</div>
	</div>
	<div class="clear"></div>
</section>
<section>
	<div class="s-pad ">
		<ul class="gallery gal-3 center">
			<li><figure class="" onclick="gexp(this)"><img src="/assets/projects/yb2015/freshmen.jpg"><figcaption>Freshman year represents a canvas, but the canvases aren't blank. Each student has a dinstinctive personality as well as four more years to paint their story.</figcaption></figure></li>
			<li><figure class="" onclick="gexp(this)"><img src="/assets/projects/yb2015/sophomores.jpg"><figcaption>Sophomores are approaching a fork in the road: this is the year students find themselves eliminating different paths.</figcaption></figure></li>
			<li><figure class="" onclick="gexp(this)"><img src="/assets/projects/yb2015/juniors.jpg"><figcaption>Juniors have begun exploring their passions, enriching their extracurriculars, and honing their talents.</figcaption></figure></li>
			<li><figure class="" onclick="gexp(this)"><img src="/assets/projects/yb2015/seniors.jpg"><figcaption>Seniors, after a long four-year battle with school, adolescence, and college apps, are now approaching a horizon of their futures beginning to unfold.</figcaption></figure></li>
		</ul>
	</div>
	<div class="s-pad bottom">
		<figure class="noanimate" onclick="gexp(this)"><img src="/assets/projects/yb2015/senior-bests.jpg"></figure>
	</div>
	<div class="s-pad bottom">
		<div style="padding-bottom:50px;text-align:center"><h5>Select Pages</h5></div>
		{% assign url="https://dl.dropboxusercontent.com/u/94853077/portfolio/yb2015/thumb" %}
		{% assign arr="cover,2,7,11,15,19,23,33,47,51,59,63,73,75,77,81,97,99,123,133,141,251,colophon" | split: "," %}
		<ul class="gallery gal-3">
		{% for ex in arr %}<li><figure class="" onclick="gexp(this)"><img src="{{url}}/{{ex}}.jpg"></figure></li>{% endfor %}
		</ul>
	</div>
	<div class="s-pad bottom">
		<div style="padding-bottom:50px;text-align:center"><h5>Select Photography</h5></div>
		<ul class="gallery gal-3">
			{% assign url="https://dl.dropboxusercontent.com/u/94853077/portfolio/yb2015/photo" %}
			{% for ex in (1..11) %}<li><figure class="" onclick="gexp(this)"><img src="{{url}}/{{ex}}.jpg"></figure></li>{% endfor %}
		</ul>
		<div style="text-align:center"><a href="/misc/photo/yb2015" class="sub" target="_blank">See more photos</a></div>
	</div>
</section>
<section>
	<div class="s-pad bottom">
		<div class="content">
			<p style="text-align:center">
				<figure class="" onclick="gexp(this)"><img src="/assets/projects/yb2015/team.jpg" alt="" /><span class="image-caption">50 shades of grey</span></figure>
			</p>
			<p class="sans" style="text-align:center">

				<b>Designers</b><br>Barbara Yang, Andrew Jiang, Florence Scheve, Angela Zhou, Camellia Djebroun, Daniela Braslavski , Elliot Lu, Jenny Nguyen, Jonathan Wang, Megan Wesolowski, Michelle Shin, Zena Lee<br><br>

				<b>Photographers</b><br>Tanveer Bains, Jennifer Koh, Alison Nguyen, Brittany Do, Bryanna Cheung, Erika Valderrama, Jacob Moura, Jalitaa Chen, Jennifer Lee, Jessica Crawford, Julia Su, Joshua Torres, Ryan Park<br><br>

				<b>Writers</b><br>Michelle Boisvert, Moriah Drummond, Nathan Engstrom<br><br>

				<b>Marketers</b><br>Cassidy Hyslop, Emily Boerner, Inas Ben-Romdhane, Stella Villett, Stephanie Simon<br><br>

				<b>Publisher</b><br>Kathryn Rodriguez<br><br>

				<b>Publisher</b><br><a href="http://treering.com" target="_blank">Treering</a>
			</p>
		</div>
	</div>
</section>

<script>

function gexp(figure) {
	if(figure.className.indexOf("expanded") > -1){
		figure.className = figure.className.replace("expanded", "")
		figure.innerHTML = figure.innerHTML.replace("lores","thumb")
	}
	else {
		figure.className += " expanded"
		figure.innerHTML = figure.innerHTML.replace("thumb","lores")
	}
}

</script>