/* HTML5 Boilerplate */
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,
small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video { margin:0;padding:0;border:0;word-wrap:break-word;word-break:hyphenate; }
ul, li { list-style:none;list-style-type:none;display:block; }
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { display:block;word-wrap:break-word }
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm { margin-bottom: $spacing-unit / 2; }
img { border:none;max-width:100%;vertical-align:middle;margin:0 auto;padding:0;display:block; }
table { border-collapse:collapse;border-spacing:0 }
/* END Boilerplate */

* {
    @include webkit(transition-property, (margin, padding, opacity, background-color, color, border));
    @include webkit(transition-duration, 0.35s);
    @include webkit(transition-timing-function, cubic-bezier(0.215, 0.61, 0.355, 1));
    @include webkit(animation-fill-mode, both);
}

::selection { background:#e62f6f; color:#fff; text-shadow: none; }

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;

    background-color: $background-color;
    background-attachment: fixed;
    background-size:cover;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;

    position:absolute;
    left:0;right:0;top:0;bottom:0;
    max-width:2000px;
    margin:0 auto;
}

p  { padding-bottom:1em; display:block; line-height:1.4em; }
a  { text-decoration:underline; color:inherit; cursor:pointer; }

h1,h2,h3,h4,h5,h6 {
    font-weight:bold; 
    line-height:1.1em; 
    display:block;
    padding-bottom:0.3em;

    &.nopad { padding-bottom:0; }
    span { white-space:nowrap; }
}

h1 { font-size:64px; }
h2 { font-size:56px; }
h3 { font-size:45px; }
h4 { font-size:34px; }
h5 { font-size:24px; }
h6 { font-size:20px; }

hr { display:block;padding:0;border:0;height:1px;background-color:rgba(0,0,0,0.3);max-width:100%;margin:10px auto;}


input, textarea {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;

    -webkit-appearance:none;
    background-color:$background-color;

    @include webkit(border-radius, 0px);
    border:0px;
    outline:none;
    padding:5px 10px;
    height:20px;
    border:1px solid rgba(0,0,0,0.3);
    resize:none;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { color: rgba(0,0,0,0.3); }
input:-moz-placeholder,textarea:-moz-placeholder { color: rgba(0,0,0,0.3); }

.s { text-decoration:line-through; }
.clear {clear:both;display:block;}


/* ANIMATIONS */

@include keyframes(navhover) {
    from {top:110%;opacity:0;display:none;}
    to {top:90%;opacity:1;display:inline-block;}
}

@include keyframes(borderexp) {
    from {width:0%;opacity:0;}
    to {width:100%;opacity:1;}
}

@include keyframes(tileshift) {
    from {transform:translate(0,100px);opacity:0;}
    to {transform:translate(0,0);opacity:1;}
}

/* *******************
***** NAVIGATION *****
******************* */

nav {
    padding:16px 40px 16px 40px;
    text-transform:uppercase;
    z-index:999;
    margin-bottom:-1px;

    &.d { 
        color:#FFF; 
        @include webkit(text-shadow, 0 1px 3px rgba(0,0,0,0.2)); 
        a::after {
            @include webkit(box-shadow, 0 1px 3px rgba(0,0,0,0.2)); 
        }
    }

    &:after { content:'';display:block;clear:both;}

    a {
        display:inline-block;
        padding:18px 16px;
        height:18px;
        line-height:18px;
        vertical-align:top;
        cursor:pointer;
        text-decoration:none;
        text-align:center;

        &.sel { font-weight:bold; }
        &:hover { text-decoration:none; overflow:hidden; }
        &::before {
            content:attr(data-title);
            font-weight:bold;
            height:1px;
            color:transparent;
            overflow:hidden;
            visibility:hidden;
            margin-top:-1px;
            display:block;
        }

        > span {
            color:#888;
            font-size:11px
        }
    }

    > ul > li {
        position:relative;
        display:inline-block;

        > a.sel:after, &:hover > a:after {
            content:''; 
            display:block; 
            color:inherit; 
            border-bottom:2px solid; 
            margin:-1px auto;
            position:relative;
            top:1px;
        }
        &:hover > a:not(.sel):after {
            @include webkit(animation, borderexp 0.35s cubic-bezier(0.215, 0.61, 0.355, 1));
        }

        > ul {
            position:absolute;
            z-index:100;
            top:90%; left:16px;
            display:none;
            background-color:rgba(255,255,255,1);
            @include webkit(border-radius, 3px);
            @include webkit(box-shadow, (0 2px 7px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.15)));
            @include webkit(text-shadow, none);
            padding:4px 0;
            min-width:100%;
            margin:0 auto;
            color:#000;
            word-break:keep-all; white-space:nowrap;
            overflow:hidden;

            a {padding:9px 16px;min-width:64px}
            > li {
                position:relative; width:100%;
                a { width:100%; text-align:left; }
                &:hover a {background-color:rgba(0,0,0,0.1); }
            }
        }
        &:hover > ul {
            display:inline-block;
            @include webkit(animation, navhover 0.35s 0.35s cubic-bezier(0.215, 0.61, 0.355, 1));
            @include webkit(animation-fill-mode, both);
        }
    }

}

/* **************************
***** CONTENT LAYOUTING *****
************************** */

section, footer {padding:0;margin:0 auto;overflow:visible;}
section:after, footer:after {content:'';display:block;clear:both;}

.s-pad { padding:32px 56px; }
.bottom { padding-bottom:100px; }

.s-tile { padding-top:0!important;margin:0!important; }

#header-spacing {
    height:44px;
    width:100%;
    background-color:#5F5F5F;
}

.content {
    max-width:600px;
    margin:0 auto;
    font-size:18px
}

.title-padding {
    padding-top:40px;
    padding-bottom:40px;
    text-align:center;
}

.sub {
    font-size:36px;
    color:rgba(0,0,0,0.5);
    line-height:1.4em;
}

.sub-2 {
    font-size:24px;
    font-family: Charter, Georgia, Times, "Times New Roman", serif;
    color:rgba(0,0,0,0.5);
    font-style:italic;
    line-height:1.4em;
}

.large-quote {
    font-size:30px;
    font-weight:bold;
}

section p, footer p {
    font-family: Charter, Georgia, Times, "Times New Roman", serif;
    display:block;
}

section p.sans, footer p.sans, section.sans p, footer.sans p {
    font-family: $base-font-family;
}

section p img, footer p img {margin:0 auto;}

section p.neg, footer p.neg { margin: auto -16px; }
section p.neg:after, footer p.neg:after {content:'';display:block;clear:both;}

.left-image, .right-image { margin:20px!important;max-width:500px;overflow:hidden; }
.left-image {float:left;margin-left:-200px!important;}
.right-image {float:right;margin-right:-200px!important;}

.left-image.nofloat {margin-right:0px;}

.nofloat-left-pad {padding-right:20px;position:relative;left:20px;}

.left-image-caption, .right-image-caption, .image-caption {
    width:160px;
    padding:20px;
    overflow:hidden;
    color:#666;
    font-style:italic;
    display:block;
    padding-top:0px;
    font-size:14px;
    line-height:1.4em
}

.left-image-caption  {margin-left:-200px; float:left; text-align:right;clear:left; }
.right-image-caption {margin-right:-200px;float:right;text-align:left; clear:right;}

.left-image-caption:before, .right-image-caption:before, .image-caption:before {
    display:block;
    content:'';
    height:8px;
    width:80px;
    border-top:1px solid #AAA;
} 

.image-caption {
    margin:0px;
    float:none;
    width:auto;
    text-align:center;
    padding:20px 50px;
}

.image-caption:before {
    margin:0 auto;
    margin-bottom:10px;
}

.left-image-caption:before {margin:0 0 0 auto} 
.right-image-caption:before {margin:0 auto 0 0}


.right-quote {
    float:right;
    padding:20px;
    padding-right:0;
    margin-right:-200px;
    max-width:300px;
    overflow:hidden;
    font-size:30px;
    border-top:5px solid #AAA;
    border-bottom:5px solid #AAA;
    margin-left:20px;
    margin-bottom:20px;
    font-weight:bold;
    padding-left:0px;
    display:block;
}

/* **************
***** TILES *****
************** */

.tile_ul { margin:0 -12px; }
.tile_ul:after { content:'';display:block;clear:both; }

.tile {
    width:1 / 5 * 100%;
    float:left;
    top:0;
    position:relative;
    @include webkit(animation-fill-mode, both);
    z-index:1;

    &:before {
        content:'';
        display:block;
        padding-bottom:100%;
    }
    
    &:hover {z-index:2;opacity:1;}

    > a, > div {
        display:block;
        position:absolute;
        left:0;right:0;top:0;bottom:0;
        text-decoration:none;
        margin:12px;
        overflow:hidden;
        @include webkit(border-radius, 5px);
        @include webkit(transition, all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1));
        
    }

    &:not(.nohov) > a:hover, &:not(.nohov) > div:hover { @include webkit(transform, scale(1.05,1.05)); }

    figure {
        display:table;
        font-size:1.2em;
        word-break:keep-all;
        @include webkit(border-radius,inherit);
        width:100%;
        height:100%;

        img {
            z-index:1;
            display:block;
            width:100%;height:100%;
            position:absolute;
        }

        > span {
            display:block;
            position:absolute;
            left:0;right:0;top:0;bottom:0;
            opacity:0;
            z-index:2;
        }

        figcaption {
            display:table-cell;
            width:100%;
            position:relative;
            @include webkit(border-radius,inherit);
            vertical-align:middle;
            text-align:center;
            z-index:3;
            padding:24px;
            opacity:0;

            b { font-size:1.5em; text-transform:uppercase; }
            p { font-size:1em; font-style:italic; padding-top:16px; }
            > span {
                position:absolute;
                bottom:0;
                padding:8px;
                font-size:11px;
                line-height:1em;
                text-transform:uppercase;
                &.left { left:0; }
                &.right { right:0; }
                > span {
                    display:inline-block;
                    height:11px;
                    padding:2px 4px;
                    @include webkit(border-radius,3px);
                }
            }

        }
        figcaption.show, &:hover figcaption { opacity:1; }
        > span.show, &:hover > span { opacity:1 }
    }
    &.dk figure {
        background-color:#FFF;
        color:#FFF;
        @include webkit(text-shadow, (0 2px 5px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.3)));
    }
}


.tile a.sub {
    display:inline-block;
    width:auto;height:auto;
    position:relative;
    font-size:0.9em;
    line-height:18px;
    padding:9px 16px;
    margin:8px 0;
    border:0px;
    @include webkit(border-radius,5px);
    text-transform: uppercase;
}

a.sub {
    display:inline-block;
    color:#E85676;
    border:2px solid #E85676;
    @include webkit(border-radius,5px);
    padding:14px 20px;
    text-decoration:none;
    font-size:24px;
    line-height:1em;
    margin-right:16px;
    text-transform:uppercase;

    &:last-of-type {
        margin-right:0;
    }

    &:hover {color:#FFF;background-color:#E85676;}
}





ul.gallery {
    margin:0 -16px;
    display:flex;
    flex-flow:row wrap;
    justify-content:left;

    &.center { justify-content:center }

    li {
        align-self: flex-end;
        flex-basis: auto;

        figure {
            margin:0 16px;
            padding-bottom:40px;

            figcaption {
                height:3em;
                padding:8px 0;
            }
        }
    }

    &.gal-3 > li {
        width:25%;
    }
}

figure.expanded, ul.gallery > li > figure.expanded {
    position:fixed;
    background-color:rgba(255,255,255,0.9);
    left:0;right:0;top:0;bottom:0;
    margin:0;
    padding:56px 56px 56px 56px;
    z-index:999;
}

figure.expanded {
    img {
        max-height:100%;
        margin:0 auto;
    }

    figcaption {
        text-align:center;
    }
}





/* ********************
***** SCREEN SIZE *****
******************** */


@media only screen
and (max-width: 1549px) {

.tile { width: 1 / 4 * 100% }

}


@media only screen 
and (max-width : 1199px) {

nav { padding:9px 16px 9px 16px; }

h1 { font-size:50px; }
h2 { font-size:45px; }
h3 { font-size:34px; }
h4 { font-size:28px; }
h5 { font-size:24px; }
h6 { font-size:20px; }

.tile { width:1 / 3 * 100% }

.s-pad {
    padding:16px 32px;
}

.bottom {
    padding-bottom:70px;
}

.title-padding { padding-top:30px;padding-bottom:30px;}
.sub { font-size:30px; }
.sub-2 { font-size:20px; }


.sidenotes {
    /*padding-top:20px;*/
    padding-bottom:20px;
    display:block;
}

.large-quote {
    font-size:28px;
}

.left-image-caption, .right-image-caption {
    margin:0px;
    float:none;
    width:auto;
    text-align:center;
    padding:20px 50px;
}

.left-image-caption:before, .right-image-caption:before {
    margin:0 auto;
    margin-bottom:10px;
}

.left-image, .right-image, .image-big {
    float:none;
    margin:0 auto!important;
    padding:0;
    max-width:100%;
    width:auto;
}

.nofloat-left-pad {
    position:static;
    padding:0px;
}

.right-quote {
    float:none;
    max-width:100%;
    text-align:center;
    margin:0px;
    padding:20px;
    width:auto;
    margin-bottom:30px;
    font-size:24px;
}

    ul.gallery.gal-3 > li { width:33.33333%;}

    figure.expanded, ul.gallery > li > figure.expanded {
        padding:28px;
        padding-bottom:56px;
    }

}



@media only screen
and (max-width: 899px) {

nav { 
    padding:10px 16px 9px 16px;
    text-align:center;

    a {
        padding:9px 16px;
        height:18px;
    }

    > ul > li > ul { display:none!important; }

}

.tile {
    width: 1 / 2 * 100%;

    > a:hover, > div:hover {
        @include webkit(transform,scale(1,1));
    }
}

.content { font-size:17px; }

.large-quote { font-size:25px; }
.heading { font-size:40px; }
.s-pad {padding:16px;}
.bottom { padding-bottom:50px; }
.title-padding { padding-top:26px;padding-bottom:26px;}
a.sub { font-size:18px;line-height:1em;padding:12px 16px }

    ul.gallery {
        margin:0 -8px;

        li figure { margin:0 8px; }

        &.gal-3 > li { width:50%; }
    }

}




@media only screen
and (max-width : 549px) {

nav { 
    padding:10px 0 9px 0; /* padding = 16px */

    a { padding:9px 16px; }
}

h1 { font-size:45px; }
h2 { font-size:34px; }
h3 { font-size:28px; }
h4 { font-size:24px; }
h5 { font-size:20px; }
h6 { font-size:18px; }

.tile_ul {
    margin:0;

    .tile { 
        width: 100%;

        > a, > div { margin:8px 0; }
    }
}


.section-tile {margin:0;}

.content { font-size:16px }


.s-pad {padding:16px;}
.bottom {padding-bottom:30px;}

.title-padding { padding-top:20px;padding-bottom:20px;}
.sub { font-size:22px; }
.sub-2 { font-size:15px; }
.large-quote { font-size:22px; }
#titulars { padding:20px 0px 50px 0px; }
.heading { font-size:30px; }

    ul.gallery {
        margin:0;

        li  figure { margin:0 -16px; }

        &.gal-3 > li { width:100%; }

        figcaption {
            margin:0 16px;
        }
    }

    figure.expanded, ul.gallery > li > figure.expanded {
        padding:32px 0px;
    }

}


