---
layout: default
---

<main>
  <section>
    <div class="s-pad">
{% if page.home != true %}
      <h1>{% if page.category.size > 1 %}<span style="color:#AAA"><a href="/{{ page.category[0] }}">{{ page.category[0] }}</a> / </span>{% endif %}{{page.title}}</h1>

      {% if page.sub.size > 0 %}
      {% for each in page.sub %}
        <a href="/{{ page.category | join '/' }}/{{ each | downcase }}" class="sub">{{ each | capitalize }}</a>
      {% endfor %}
      {% endif %}
      </div>
      <div class="s-pad bottom s-tile">
{% endif %}

<ul class="tile_ul">
{% if page.home == true %}<li class="tile nohov">
  <div onclick="javascript:window.open('/hello','_self');">
    <figure>
      <figcaption class="show" style="background-color:rgba(255,255,255,0.9);cursor:pointer;border:2px dashed #AAA;box-sizing:border-box">
        <b style="color:rgb(52,136,182);">Hello, I'm Andrew.</b>
        <p class="sans" style="font-style:normal"><strong>Code + Design / LA</strong><br>University of Southern California</p>
        <a href="/hello/resume" class="sub" target="_blank" onclick="event.stopPropagation()">Résumé</a><a href="/hello/email" class="sub" target="_blank" onclick="event.stopPropagation()">Email Me</a>
      </figcaption>
    </figure>
  </div>
</li>{% endif %}
{% for post in site.posts %}{% if post.show == true %}{% if page.category == post.categories or post.categories.first == page.category.last or page.home == true %}{% assign _r = post.rgb[0] | times: 0.299 | divided_by: 256 %}{% assign _g = post.rgb[1] | times: 0.587 | divided_by: 256 %}{% assign _b = post.rgb[2] | times: 0.114 | divided_by: 256 %}{% assign _rgb = _r | plus: _g | plus: _b %}
<li class="tile{% if _rgb < 0.55 %} dk{% endif %}">
  <a href="{{ post.url | prepend: site.baseurl }}"{% if post.redir %} target="_blank"{% endif %}>
    <figure style="background-color:rgba({{ post.rgb | join: ',' }},1)">
      <img alt="" src="{{ post.image }}">
      <span style="background-color:inherit;"></span>
      <figcaption>
        <b>{{ post.title }}</b>
        {% if post.caption %}<p>{{post.caption}}</p> {% endif %}
        <span class="left"><span>{{post.date | date: "%b %d, %Y"}}</span></span>
        <span class="right">{% for cat in post.categories %}<span>{{cat}}</span>{% endfor %}</span>
      </figcaption>
    </figure>
  </a>
</li>
{% endif %}{% endif %}{% endfor %}
</ul>

    </div>
  </section>
</main>

<script>
function tileSizeSq(call){
  var tileSize = window.getComputedStyle(document.getElementsByClassName("tile")[0]).getPropertyValue('width')
  var tileCount = document.getElementsByClassName("tile").length

  for (i = 0; i < tileCount; i++ ){

    var elem = document.getElementsByClassName("tile")[i]
    elem.style.height = tileSize

  }

  if(call == "load"){
    for(i = 0; i < tileCount; i++){
      var anim = (0.05*i)+"s"
      var elem = document.getElementsByClassName("tile")[i]
      elem.style["-webkit-animation-delay"] = anim
      elem.style["-moz-animation-delay"] = anim
      elem.style.animationDelay = anim
    }
  }
} 

window.onLoad = tileSizeSq("load")
document.onLoad = tileSizeSq("load")
window.addEventListener("resize", tileSizeSq) // execute
</script>